<div class="app">
  <nav class="control">
    <button (click)="minimise()" class="bi bi-dash"></button>
    <button class="bi bi-app"></button>
    <button (click)="close()" class="bi bi-x-lg"></button>
  </nav>
  <div class="app-window">
    <nav class="card navigation hoverable">
      <button
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/"
        class="bi bi-house"
      >
        Home
      </button>
      <button
        routerLinkActive="active"
        routerLink="/gallery"
        class="bi bi-image"
      >
        Gallery
      </button>
      <button
        routerLinkActive="active"
        routerLink="/settings"
        class="bi bi-gear"
      >
        Settings
      </button>
      <button
        routerLinkActive="active"
        routerLink="/about"
        class="bi bi-info-circle mt-auto"
      >
        About
      </button>
    </nav>
    <div id="router" (drop)="logEvent($event)" class="router card">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
