.main-window .window {
  border-radius: 0 0 20px 20px;
  background-color: #202225;
  backdrop-filter: blur(5px);
  border: 1px solid rgb(36, 36, 36);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  // background: url("../assets/imgs/background.jpg");
  background-color: var(--primary-color);
  background-size: 300%;
  background-repeat: no-repeat;
  // -webkit-user-select: none;
  -webkit-app-region: drag;
}
.main-window {
  min-height: 500px;
  padding: 20px;
}
.main {
  z-index: 1;
  -webkit-app-region: none;
}
nav button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  transition: 0.25s;
  background-color: var(--primary-color);
  color: var(--tetiary-color);
  border: none;
  &.active {
    background-color: var(--tetiary-color);
    color: black;
  }
  &:hover:not(.active) {
    background-color: var(--secondary-color);
  }
}
.control-buttons button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: var(--primary-color);
  z-index: 1;
}
.minimise {
  color: white;
}
.close {
  color: white;
}
nav {
  background-color: var(--primary-color);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  position: relative;
}
.nav-buttons {
  z-index: 1;
  position: relative;
}
.drag-bar {
  flex-grow: 1;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}
