<div class="vh-100 vw-100 d-flex">
  <div class="container-lg m-auto">
    <div class="d-flex flex-column">
      <nav class="d-flex nav-bar">
        <button routerLinkActive="active" routerLink="/to-webp" class="">
          <div class="btn-bg"></div>
          IMG/GIF->WEBP
        </button>
        <button routerLinkActive="active" routerLink="/from-webp" class="">
          <div class="btn-bg"></div>
          WEBP->IMG
        </button>
      </nav>
      <div
        [@triggerName]="prepareRoute(outlet)"
        class="d-flex position-relative main-window justify-content-center align-items-center"
      >
        <div class="window position-absolute"></div>
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>
