:root {
  --distance: 10px;
}
.page,
.section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--distance);
}
.page {
  height: 100%;
  width: 100%;
  max-height: 100%;
}
.section {
  margin-top: var(--distance);
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.575);
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.384);
  background-color: rgba(255, 255, 255, 0.164);
  backdrop-filter: blur(0.5px);
  padding: var(--distance);
  border-radius: 20px;
  transition: box-shadow 0.25s;
}
@keyframes bborder {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.cta-btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transition: box-shadow 0.25s;
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.568);
  transform-style: preserve-3d;
  &:active {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.568);
  }
  &::before {
    content: "";
    position: absolute;
    transform: translateZ(-1px);
    background: linear-gradient(
      90deg,
      rgba(236, 236, 236, 0) 22%,
      rgba(255, 255, 255, 0) 69%,
      rgb(0, 0, 0) 100%
    );
    background-size: 400%;
    opacity: 0;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
  }
  &:hover::before {
    opacity: 1;
    animation: bborder 2s infinite forwards;
  }
  &:active::before {
    opacity: 1;
    animation: bborder 2s infinite forwards;
  }
}
.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  height: 30px;
  background: linear-gradient(145deg, #eaeaea, #c5c5c5);
  box-shadow: 2px 2px 3px #bababa, -2px -2px 3px #fcfcfc;
  input {
    padding: 0 40px 0 10px;
    position: absolute;
    width: 100%;
    border: 0;
    background-color: transparent;
    height: 100%;
    outline: none;
  }
  button {
    aspect-ratio: 1/1;
    margin: 3px;
    height: 80%;
    will-change: transform;
    background: linear-gradient(145deg, #eaeaea, #dadada);
    box-shadow: 2px 2px 3px #bababa, -2px -2px 3px #fcfcfc;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    i {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
    }
  }
}
