<div class="page">
  <div class="card w-full p-3">
    <app-image-filter (onFilterChange)="applyFilter($event)"></app-image-filter>
  </div>

  <div
    [ngClass]="{ active: active }"
    (drop)="onDrop($event); active = false"
    (dragover)="onDragOver($event); active = true"
    (dragend)="active = false"
    class="card h-full w-full drop-area"
  >
    <div (dragleave)="active = false" class="drop-prompt">Drop Files Here</div>
    <div class="gallery w-full h-full">
      <app-images-grid
        (queryChange)="changePage($event)"
        [images]="(images | async) || []"
        [total]="(total | async) || 0"
        [loading]="(loading | async) || false"
        [rows]="(rows | async) || 0"
      ></app-images-grid>
    </div>
  </div>
</div>
