.col-12 {
  height: 200px;
}
p-dataView {
  height: 100%;
  width: 100%;
}
:host::ng-deep {
  .p-paginator {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px;
  }
  .p-paginator-pages {
    display: flex;
    justify-content: start;
    gap: 10px;
  }
  button {
    width: 30px;
    border-radius: 49px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 9px #c1c1c1, inset -5px -5px 9px #ffffff;
    aspect-ratio: 1/1;
    border: 0;
    border-radius: 10px;
    transition: 0.5s;
    &.p-highlight {
      background-color: white;
      box-shadow: inset 1px 1px 2px #c1c1c1, inset -1px -1px 2px #ffffff;
    }
  }
}
