form {
  .search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    height: 30px;
    background: linear-gradient(145deg, #eaeaea, #c5c5c5);
    box-shadow: 2px 2px 3px #bababa, -2px -2px 3px #fcfcfc;
    &:hover {
      button {
        transform: scale(1.1);
      }
    }
    input {
      padding: 0 40px 0 10px;
      position: absolute;
      width: 100%;
      border: 0;
      background-color: transparent;
      height: 100%;
      outline: none;
    }
    button {
      aspect-ratio: 1/1;
      margin: 3px;
      height: 80%;
      will-change: transform;
      background: linear-gradient(145deg, #eaeaea, #dadada);
      box-shadow: 2px 2px 3px #bababa, -2px -2px 3px #fcfcfc;
      border-radius: 50%;
      position: absolute;
      transition: 0.5s;
      right: 0;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0;
      i {
        position: absolute;
        font-size: 10px;
        font-weight: bold;
      }
    }
  }
}
