<div
  class="d-flex flex-column align-items-center justify-content-center w-100 h-100"
>
  <div class="row h1">
    <p>WEBP CONVERTER</p>
  </div>
  <div class="row mx-4">
    <p class="m-auto text-center fw-semibold">
      Welcome to my Angular WebP Converter App! Easily convert your images to
      the efficient WebP format for faster loading times and improved quality on
      your website or application. Experience the benefits of WebP compression
      and ensure compatibility across all major browsers. Upload, convert, and
      elevate your online presence effortlessly. Happy converting!
    </p>
  </div>

  <div class="row"></div>
</div>
