#dragarea {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .box {
    position: absolute;
    width: 75%;
    height: 75%;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    rect {
      stroke: white;
      fill: none;
    }
  }
  .upload-icon {
    position: absolute;
    width: 25%;
    height: 25%;
    z-index: -1;
    transition: 0.5s;
  }
  .arrow {
    transition: 0.5s;
    transform-origin: center;
  }
  .cross {
    position: absolute;
    z-index: -1;
    transform: scale(0);
    transform-origin: center;
  }
}
.expand {
  .upload-icon {
    transform: scale(1.5);
    .arrow {
      transform: rotate(90deg);
    }
  }
  .box {
    rect {
      fill: rgba(255, 255, 255, 0.493) !important;
    }
    transform: scale(1.5);
  }
}
.invalid {
  .upload-icon {
    transform: scale(0) !important;
  }
  .box {
    rect {
      fill: rgba(255, 29, 29, 0.493) !important;
      stroke: gray !important;
    }
    transform: scale(1) !important;
  }
  .cross {
    transform: scale(1) !important;
  }
}
#upload {
  height: 80px;
  width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible !important;
  font-size: 0;
  cursor: pointer;
  &::-webkit-file-upload-button {
    display: none;
  }
  &:hover + svg {
    transform: scale(1.5);
    rect {
      stroke: gray;
    }
  }
  &:hover + svg + svg {
    transform: scale(1.5);
    rect {
      stroke: gray;
    }
  }
}
