/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  font-family: "Roboto Slab";
}
.bg-main {
  background: url("./assets/imgs/background.jpg");
  background-size: 300%;
  background-repeat: no-repeat;
}
