/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
:root {
  --primary-color: #303841;
  --secondary-color: #3a4750;
  --tetiary-color: #f6c90e;
  --misc-color: #eeeeee;
}
.bg-main {
  background: transparent;
  background-size: 300%;
  background-repeat: no-repeat;
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

/* Apply Montserrat to headings */
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

/* Apply Lato to body text */
body,
p {
  font-family: "Roboto Condensed", sans-serif;
  color: var(--misc-color);
}
