/* You can add global styles to this file, and also import other style files */
@import url("../node_modules/primeflex/primeflex.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import url("./styles/colors.scss");
@import url("./styles/typography.scss");
@import url("./styles/components.scss");

button,
p,
h1 {
  margin: 0;
}
body,
html {
  margin: 0;
  height: 100%;
  width: 100%;
}
.router > .ng-star-inserted {
  width: 100%;
  height: 100%;
  z-index: 1;
}
* {
  box-sizing: border-box;
}
